/* line 6, ../../Private/sass/scss/rte.scss */
span.label, span.label-radius {
  padding: 1px 4px 2px;
  font-size: ms(0)-2;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline;
  position: relative;
  bottom: 1px;
  color: #fff;
  background: #2ba6cb;
}

/* line 21, ../../Private/sass/scss/rte.scss */
span.label-radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 38, ../../Private/sass/scss/rte.scss */
span.label, span.label-radius {
  background-color: #e9e9e9;
  color: #505050;
}

/* line 54, ../../Private/sass/scss/rte.scss */
h1.subheader, h2.subheader, h3.subheader, h4.subheader, h5.subheader, h6.subheader {
  position: relative;
}

/* line 58, ../../Private/sass/scss/rte.scss */
ul.circle {
  list-style-type: circle;
}

/* line 61, ../../Private/sass/scss/rte.scss */
ul.disc {
  list-style-type: disc;
}

/* line 65, ../../Private/sass/scss/rte.scss */
ul.square {
  list-style-type: square;
}
